#logo-nextperience{
	margin: 40px auto;
}
#logo-nextperience img{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 341px;
	max-height: inherit;
}
.signin-form{
	border: 1px solid #c2c2c2;
}