$grayBg = #424242
$grayLigth = #f9f9f9
$black = #000000
$white = #ffffff
$blue = #256FB0
$pad = #a5172a

// end color
.udepMain
  .user
    &-menu
      & > a
        span
          color $grayBg
      & >.dropdown-menu
        width auto
        min-width auto
        & >.user-footer
          background-color #e5e5e5
        .pull-right
          float none !important
          display inline-block
  .main
    &-header
      .logo
        background-color $white
        &:hover,
        &:active
          background-color #fdfdfd
        .logo
          &-mini
            font-size 0 !important
            text-align left
          &-lg
            font-size 0
            text-align left
            img
              display inline-block
      .navbar
        background-color $white
        border-left 1px solid  #f3f3f3
        .sidebar
          &-toggle
            color $grayBg
            &:hover
              background-color #fdfdfd
              color $grayBg
            &:focus
              background-color $white
    &-sidebar
      background-color $grayBg
      .sidebar-menu
        & > li
          &.active
            & > a
              background-color darken($grayBg,20%)
              border-left-color $blue
          &.header
            background-color darken($grayBg,25%)
            color $white
          &:hover
            & > a
              background-color darken($grayBg,20%)
              color $white
  .info
    &-box
      &-icon
        padding 10px
        img
          max-width 100%
          max-height 100%
          margin 0 auto
          display block
      &-number
        font-size 32px
  .bg
    &-udep
      background-color $blue !important
  .bg
    &-pad
      background-color $red !important
  .box
    &-header
      .box
        &-title
          vertical-align middle
        &-tools
          position static
          display inline-block
          vertical-align middle
          margin-left 15px
    &-body
      .table
        margin-bottom 0
  .content
    &-header
      margin-bottom 20px
      h1
        color #969696
    &-wrapper
      background-color #f6f6f6
  // tablas
  #tableUserlist
    thead
      tr
        th
          &:nth-last-child(3)
            width 90px
            text-align center
          &:nth-last-child(2)
            width 120px
            text-align center
          &:last-child
            width 60px
            text-align center
    tbody
      tr
        td
          vertical-align middle
          &:nth-last-child(3)
            text-align center
          &:nth-last-child(2)
            text-align center
          &:last-child
            text-align center
  .info-box
    min-height 70px
    &-icon
      height 70px
      width 70px
    &-content
      margin-left 70px
      padding 9px 10px
    &-number
      line-height 1em

// report
#reportDatatables_wrapper
  .dt-buttons
    margin-bottom 10px

// modal
.modal
  &-body
    .report-table
      width 100%
      .report-table-title
        h3
          margin 0 0 10px
          font-size 18px
          font-weight 600
      table
        tbody
          tr
            td
              vertical-align middle
              &:first-child
                width 200px
              h4
                font-size 14px
    table
      h4,
      p
        margin 0

// archivos de carga de archivos
.modal
  .table
    &-striped
      margin-bottom 0
  .filesDropzoneDesign
    .table
      &-files
        margin-bottom 0
        margin-top 15px
      &-dropzone
        margin-bottom 0
        tr
          td
            vertical-align middle
            &:first-child
              width calc(100% - 48px)
            &:last-child
              width 56px
#modalComplaintResponse
  .modal
    &-title
      font-weight 600
    &-body
      &-box
        background-color $grayLigth
        padding 10px
  table
    margin-bottom 0
  .titleSectionFull
    margin-bottom 10px

.complaintModal
  &-title
    td
      h3
        padding 10px 0
        margin-bottom 0
        margin-top 0
        border-top 1px solid $grayLigth
        border-bottom 1px solid $grayLigth
        font-size 1.2em
        font-weight 600

.responseComplaintId
  .label
    &.bg-teal
      a
        color $white

.modal-body
  .report-table
    .report-table-striped
      margin-bottom 15px
      border-top 1px solid $grayLigth
      th
        border 0
    .report-view-detail-title
      h3
        margin 5px 0
        font-size 18px
    tr
      &:first-child
        .report-table-striped
          border-top 0

#modalReportView
  .modal-body
    padding 0 15px

#report-response_mailFiles
  ul
    margin 0
    padding-left 17px

#complaintResponseMailHtml
  background-color $white
  padding 10px