footer.footer
	.container
		.grid
			.grid-row
				.grid-box.grid-box-6
					.brand
						a(href="javascript:;", class="brand-box")
							img(src="images/udep/brand_udep.png", alt="UDEP")
				.grid-box.grid-box-6
					ul.footer-text
						li Universidad de Piura. Todos los derechos reservados.
						li Piura: Av. Ramón Mugica 131, Urb. San Eduardo. T (073) 284500
						li Lima: Calle Mártir José Olaya 162, Miraflores. T (01) 2139600
						li Jr. Aldebarán N° 160, Santiago de Surco.