.navbar
	.container
		.grid
			.grid-row
				.grid-box.grid-box-6
					.brand
						a(href="javascript:;", class="brand-box")
							img(src="images/udep/brand_udep.png", alt="UDEP")
				.grid-box.grid-box-6
					.subject
						h1 Hoja de reclamación
						h3 UNIVERSIDAD DE PIURA - RUC: 20172627421