doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title UDEP - UNIVERSIDAD DE PIURA
		//- link(rel="shortcut icon" href="images/favicon.ico")
		//- link(rel="shortcut" href="images/favicon.ico" type="image/x-icon")
		//- link(rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico")
		//- link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(type="text/css" rel="stylesheet" href="css/main.min.css")
	body
	
		block main

		script(src="https://www.google.com/recaptcha/api.js")
		script(src="js/main.min.js")