extends master/main
block content
	.main.main-udep
		include master/header
		.container
			form.formRegister#formRegister
				.section-date
					.section-date-box
						h4 01 de agosto del 2017
				include modules/section_1
				include modules/section_2
				include modules/section_3
		include master/footer
	include modules/modal