.footer
  background-color $grayU-dark
  .brand
    display inline-block
    padding 7.5px 0
    font-size 0
    &-box
      display inline-block
  &-text
    text-align right
    padding 15px 0
    margin 0
    list-style none
    li
      color $white
      font-family roboto
      font-style normal
      font-weight 400
      font-size .8em
  &-content
    font-size 0
    &-box
      display inline-block
      width 50%
      font-size 16px
      &:first-child
        text-align left
      &:last-child
        text-align right
      .footer
        &-box
          &-back
            padding-left 30px
          &-pdf
            &:before
              left -30px
              background-image url(../images/udep/ico_download_udep.png)
  @media screen and (min-width: 768px)
    &-text
      li
        font-size .6em
  @media screen and (min-width: 850px)
    &-text
      li
        font-size .8em