// form starting stylings
.form
  &-section
    &-notify
      padding-top 15px
.input-group
  position relative
  margin-top 35px
  // LABEL
  label
    color $grayU-light
    font-size 16px
    font-weight normal
    position absolute
    pointer-events none
    left 15px
    top 7.5px
    transition 0.2s ease all
    fontFamily(roboto,400,normal)
  input
    font-size 16px
    padding 7.5px 15px
    display block
    width 100%
    border none
    background-color $grayF
    border 2px solid $grayF-dark
    border-radius 4px
    color $grayU-light
    &:focus
      outline none

    // active state
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label,
    &[aria-invalid] ~ label
      top -22px
      font-size 14px
      font-weight 500
    &:focus ~ label
      top -22px
      font-size 14px
      font-weight 500
      color $blueU
    &[aria-invalid] ~ label
      top -22px
      font-size 14px
      font-weight 500
      color $blueU

    // active state
    &:focus ~ .bar:before,
    &:focus ~ .bar:after
      width 50%
  
  // &.topAnimate
  //   label
  //     top -22px
  //     font-size 14px
  //     font-weight 500

  textarea
    font-size 16px
    padding 7.5px 15px
    display block
    width 100%
    border none
    background-color $grayF
    border 2px solid $grayF-dark
    border-radius 4px
    color $grayU-light
    &:focus
      outline none

    // active state
    &:focus + label,
    &:not(:placeholder-shown) + label
      top -22px
      font-size 14px
      font-weight 500
     &:focus ~ label
      top -22px
      font-size 14px
      font-weight 500
      color $blueU
    &[aria-invalid] ~ label
      top -22px
      font-size 14px
      font-weight 500
      color $blueU

    // active state
    &:focus ~ .bar:before,
    &:focus ~ .bar:after
      width 50%
  // select
  select
    appearance none
    box-shadow none
    background-color transparent
    background-image url(../images/ic_select.png)
    background-position center right
    background-repeat no-repeat
    border none
    font-size 16px
    padding 7.5px 15px
    display block
    width 100%
    background-color $grayF
    border 2px solid $grayF-dark
    border-radius 4px
    color $grayU-light
    &::-ms-expand
      display none
    &:focus
      outline none
    &:focus ~ label,
    &[aria-invalid] ~ label
      top -22px
      font-size 14px
      font-weight 500
    // active state
    &:focus ~ .bar:before,
    &:focus ~ .bar:after
      width 50%
  // BOTTOM BARS
  .bar
    position relative
    display block
    width 100%
    &:before,
    &:after
      content ''
      height 2px 
      width 0
      bottom 0 
      position absolute
      transition 0.2s ease all 
      -moz-transition 0.2s ease all 
      -webkit-transition 0.2s ease all
    &:before
      left 50%
    &:after
      right 50%
  &-select
    &-text
      fontFamily(roboto,400,normal)
      color $grayU-light

// radio
.check
  &-group
    margin-top 35px
    padding-left 15px
  &-box
    display inline-block
    padding-left 35px
    &:first-child
      padding-left 0
    h4
      fontFamily(roboto,400,normal)
      color $grayU-light
      font-size 16px
      font-weight normal
  &-input
    opacity 0
    position absolute
  &-input,
  &-label
    display inline-block
    vertical-align middle
    cursor pointer
  &-label
    position relative
    fontFamily(roboto,400,normal)
    color $grayU-light
    font-size 16px
    font-weight normal
  &-input
    + .check-label::after
      content ''
      border none
      background-color $grayF
      border 2px solid $grayF-dark
      display inline-block
      vertical-align middle
      width 22px
      height 22px
      margin-left 10px
      text-align center
      border-radius 4px
      background-position center center
      background-repeat no-repeat
      background-size 0
      transition all ease .3s
  &-input:checked
    + .check-label:after
      background-size auto

// checkbox
.checkbox
  &-group
    margin-top 35px
  &-box
    display inline-block
    position relative
    h4
      fontFamily(roboto,400,normal)
      color $grayU-light
      font-size 16px
      font-weight normal
  &-input
    opacity 0
    position absolute
  &-input,
  &-label
    display inline-block
    vertical-align middle
    cursor pointer
  &-label
    position relative
    fontFamily(roboto,400,normal)
    color $grayU-light !important
    font-size 16px
    font-weight normal
    padding-left 40px
    a
      color $blueU
      &:hover,
      &:focus
        color darken($blueU,20%)
  &-input
    + .checkbox-label::after
      content ''
      border none
      background-color $grayF
      border 2px solid $grayF-dark
      display inline-block
      vertical-align middle
      width 22px
      height 22px
      text-align center
      border-radius 4px
      background-position center center
      background-repeat no-repeat
      background-size 0
      transition all ease .3s
      position absolute
      left 0
      top 0
  &-input:checked
    + .checkbox-label:after
      background-size auto
.submit
  &-group
    text-align right

.btn
  display inline-block
  border-radius 4px
  border 0
  fontFamily(roboto,400,normal)
  font-size 16px
  padding 10px 50px

.tooltip
  display inline
  position relative
  text-decoration none
  span
    fontFamily(roboto,400,normal)
    color $grayU-light
    font-size 11px
    font-weight normal
    vertical-align top
  &:hover
    &:after
      background #333
      background rgba(0,0,0,.8)
      border-radius 5px
      bottom 26px
      color $white
      content attr(title)
      left -10px
      padding 5px 15px
      position absolute
      z-index 98
      width 180px
      font-size 12px
    &:before
      content ''
      border solid
      border-color #333 transparent
      border-width 6px 6px 0 6px
      bottom 20px
      left 3px
      position absolute
      z-index 99