.container
  margin 0 auto
  display block
  width 600px
  @media screen and (min-width: 850px)
    width 850px

// section-title
.section
  &-title
    margin-left -15px
    margin-right -15px
    border-radius 2px
    margin-top 2em
    margin-bottom 1em
    &-box
      padding 0 15px
    h2
      padding 7.5px 0
      font-size 1.3em
  &-date
    text-align right
    &-box
      display inline-block
      padding 2em 0 0
      h4
        color $grayU-light
        fontFamily(roboto,400,normal)
  &-info
    padding 35px 0 0
    p
      color $grayU-light
      fontFamily(roboto,400,normal)
      font-size 16px
      span
        fontFamily(roboto,600,normal)
  &-term
    padding 50px 0
    ul
      li
        margin-top 16px
        &:first-child
          margin-top 0
    p
      color $grayU-light
      fontFamily(roboto,400,normal)
      font-size 16px
      span
        fontFamily(roboto,600,normal)
  &-submit
    padding 50px 0
    border-bottom 1px solid $grayF-dark
  &-tutor
    &-title
      padding-top 35px
      margin-top 35px
      border-top 1px solid $grayF-dark
      h4
        color $grayU-light
        fontFamily(roboto,600,normal)

.thanks
  &-content
    padding-top 120px
    &-head
      margin-bottom 35px
      h3
        fontFamily(roboto,600,normal)
        font-size 24px
      h4
        fontFamily(roboto,400,normal)
        font-size 20px
        color $grayU-light
    &-text
      p
        fontFamily(roboto,400,normal)
        color $grayU-light
    &-footer
      text-align right
      padding-top 40px
      a
        position relative
        text-decoration none
        fontFamily(roboto,600,normal)
        &::before
          content ''
          position absolute
          top 50%
          left 0
          transform translateY(-50%)
          width 20px
          height 20px
          background-position center center
          background-repeat no-repeat
          background-size contain
.recaptcha
  &-error
    color $errorU
    position relative
    span
      position absolute
      top 10px
      left 0