.grid
  &-row
    margin-right -15px
    margin-left -15px
    font-size 0
  &-box
    display inline-block
    vertical-align middle
    font-size 16px
    &-4,
    &-6,
    &-12
      width 100%
      padding 0 15px
  @media screen and (min-width: 768px)
    &-box
      &-6
        width 50%
      &-4
        width 33.33%