.navbar
  height 77px
  .brand
    display inline-block
    padding 7.5px 0
    font-size 0
    position relative
    height 77px
    width 100%
    &-box
      display inline-block
      position absolute
      top 9px
  .subject
    text-align right
    h1
      color $white
      font-family roboto
      font-weight 600
      font-style italic
      font-size 1.3em
      letter-spacing .03em
    h3
      font-family roboto
      font-weight 400
      font-style normal
      font-size .8em
  .grid
    &-box
      &-6
        width 100%
  @media screen and (min-width: 600px)
    .grid
      &-box
        &-6
          width 50%