.main
  // theme UDEP
  &-udep
    .thanks
      &-content
        &-head
          h3
            color $blueU
        &-footer
          .footer
            &-box
              &-back
                color $blueU
                &::before
                  background-image url('../images/udep/ico_back_udep.png')
              &-pdf
                color $blueU
    .print-err
      &.has-error
        select,
        input,
        textarea
          border-bottom 2px solid $errorU
        input
          &:focus ~ label,
          &:valid ~ label
            color $errorU
        select
          &:focus ~ label,
          &[aria-invalid] ~ label,
          &[aria-required] ~ label
            color $errorU
        textarea
          &:focus + label,
          &:not(:placeholder-shown) + label,
          &[aria-required] ~ label
            color $errorU
        .bar
          &:before,
          &:after
            background-color darken($errorU,20%)
        &.check-box
          label
            &::before
              content ''
              background-color $errorU
              display inline-block
              width 26px
              height 2px
              position absolute
              right 0
              bottom 0
              transition all ease .3s
          ~ .print-err
            label
              color $errorU
              &::before
                content ''
                background-color $errorU
                display inline-block
                width 26px
                height 2px
                position absolute
                right 0
                bottom 0
                transition all ease .3s
        &.checkbox-box
          label
            &::before
              content ''
              background-color $errorU
              display inline-block
              width 26px
              height 2px
              position absolute
              left 0
              top 24px
              transition all ease .3s
              z-index 1
    .section
      &-title
        background-color $blueU
        h2
          color $white
          fontFamily(roboto,500,italic)
    input
      &[type="text"]
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label
          color $blueU
    select
      &:focus ~ label,
      &[aria-invalid] ~ label
        color $blueU
    textarea
      &:focus + label,
      &:not(:placeholder-shown) + label
        color $blueU
    .bar
      &:before,
      &:after
        background-color $blueU
    .check
      &-input
        + .check-label::after
          background-image url(../images/udep/ico_check_blue.png)
    .checkbox
      &-input
        + .checkbox-label::after
          background-image url(../images/udep/ico_check_blue.png)
    .btn
      &-submit
        &-udep
          background-color $blueU
          &:hover,
          &:focus
            background-color darken($blueU,20%)
    .navbar
      background-color $grayU
      .subject
        h3
          color $grayU-light
  // theme PAD
  &-pad
    .thanks
      &-content
        &-head
          h3
            color $blackP
        &-footer
          a
            color $blackP
            &::before
              background-image url('../images/pad/ico_back_pad.png')
    .print-err
      &.has-error
        select,
        input,
        textarea
          border-bottom 2px solid $redP
        input
          &:focus ~ label,
          &:valid ~ label
            color $redP
        select
          &:focus ~ label,
          &[aria-invalid] ~ label,
          &[aria-required] ~ label
            color $redP
        textarea
          &:focus + label,
          &:not(:placeholder-shown) + label,
          &[aria-required] ~ label
            color $redP
        .bar
          &:before,
          &:after
            background-color darken($redP,20%)
        &.check-box
          label
            &::before
              content ''
              background-color $redP
              display inline-block
              width 26px
              height 2px
              position absolute
              right 0
              bottom 0
              transition all ease .3s
          ~ .print-err
            label
              color $redP
              &::before
                content ''
                background-color $redP
                display inline-block
                width 26px
                height 2px
                position absolute
                right 0
                bottom 0
                transition all ease .3s
        &.checkbox-box
          label
            &::before
              content ''
              background-color $redP
              display inline-block
              width 26px
              height 2px
              position absolute
              left 0
              top 24px
              transition all ease .3s
              z-index 1
    .section
      &-title
        background-color $grayP
        h2
          color $white
          fontFamily(roboto,500,italic)
    input
      &[type="text"]
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label
          color $blackP
    select
      &:focus ~ label,
      &[aria-invalid] ~ label
        color $blackP
    textarea
      &:focus + label,
      &:not(:placeholder-shown) + label
        color $blackP
    .bar
      &:before,
      &:after
        background-color $blackP
    .check
      &-input
        + .check-label::after
          background-image url(../images/pad/ico_check_black.png)
    .checkbox
      &-input
        + .checkbox-label::after
          background-image url(../images/pad/ico_check_black.png)
    .btn
      &-submit
        &-udep
          background-color $redP
          &:hover,
          &:focus
            background-color darken($redP,20%)
    .navbar
      background-color $redP
      .brand
        &-box
          position absolute
          top -2px
      .subject
        h3
          color $white
  .btn
    &-submit
      color $white
      transition all .3s ease
      cursor pointer
      &[disabled]
        cursor no-drop
        background-color $grayU-light