@font-face {
	font-family roboto
	src url('../fonts/roboto-black-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-black-webfont.woff') format('woff')
  font-weight 800
  font-style normal
}

@font-face {
	font-family roboto
	src url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight 600
  font-style normal
}

@font-face {
	font-family roboto
	src url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
  font-weight 600
  font-style italic
}

@font-face {
	font-family roboto
	src url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight 500
  font-style normal
}

@font-face {
	font-family roboto
	src url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight 500
  font-style italic
}

@font-face {
	font-family roboto
	src url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  		url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight 400
  font-style normal
}