- var documents = [{id:"",name:""},{id:1,name:"DNI"},{id:2,name:"CE"}]
section.section.section-2
	.section-title
		.section-title-box
			h2 2. Identificaciones del bien contratado
	.form-section
		.grid
			.grid-row
				.grid-box.grid-box-6
					.check-group
						.check-box.print-err
							input(type="radio", name="typeservice", id="typeservice-product", class="check-input", placeholder=" ", value="0")
							label(for="typeservice-product", class="check-label") Producto
						.check-box.print-err
							input(type="radio", name="typeservice", id="typeservice-service", class="check-input", placeholder=" ", value="1")
							label(for="typeservice-service", class="check-label") Servicio
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="claim_amount", id="claim_amount", class="form-control", placeholder=" ")
						span.bar
						label Monto reclamado
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="address_station", id="address_station", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Dirección de establecimiento comercial
				.grid-box.grid-box-6
					.input-group
				.grid-box.grid-box-12
					.input-group.print-err
						textarea(rows="5", name="typeservice_description", placeholder=" ", id="typeservice_description")
						label(for="typeservice_description") Descripción
						span.bar