- var documents = [{id:"",name:""},{id:1,name:"DNI"},{id:2,name:"CE"}]
section.section.section-3
	.section-title
		.section-title-box
			h2 3. Detalle de la reclamación y pedido del consumidor
	.form-section
		.grid
			.grid-row
				.grid-box.grid-box-6
					.check-group
						.check-box.print-err
							input(type="radio", name="complain", id="complain-product", class="check-input check-complain", value="0")
							label(for="complain-product", class="check-label") Reclamo
								a(href="javascript:;", title="Disconformidad relacionada a los productos o servicios.", class="tooltip")
									span(title="")  (1)
						.check-box.print-err
							input(type="radio", name="complain", id="complain-service", class="check-input check-complain", value="1")
							label(for="complain-service", class="check-label") Queja
								a(href="javascript:;", title="Disconformidad no relacionada a los productos o servicios; o malestar o descontento respecto a la atención al público.", class="tooltip")
									span(title="")  (2)
				.grid-box.grid-box-12
					.input-group.print-err
						textarea(rows="5", name="complain_detail", placeholder=" ", id="complain_detail")
						label(for="complain_detail") Detalle
						span.bar
				.grid-box.grid-box-12
					.input-group.print-err
						textarea(rows="5", name="complain_order", placeholder=" ", id="complain_order")
						label(for="complain_order") Pedido
						span.bar
				.grid-box.grid-box-12
					.check-group
						.checkbox-box.print-err
							input(type="checkbox", name="term", id="term", class="checkbox-input", value="0", checked)
							label(for="term", class="checkbox-label") Estoy de acuerdo con lo ingresado en esta Hoja de Reclamaciones. Asimismo confirmo que los datos ingresados son tomados como firma de esta solicitud.
				.grid-box.grid-box-12
					.check-group
						.checkbox-box
							input(type="checkbox", name="notify", id="notify",value="0", class="checkbox-input",checked)
							label(for="notify", class="checkbox-label") Deseo que la notificación a mi reclamo se envie a mi correo electronico, de no ser el caso deseleccione esta opción para ver mas alternativas.
	.form-section.form-section-notify(style="display:none")
		.grid
			.grid-row
				.grid-box.grid-box-12
					.input-group.print-err
						input(type="text", name="address_notify", id="address_notify", class="form-control", placeholder=" ")
						span.bar
						label Dirección de envio de notificación
	.form-section
		.grid
			.grid-row
				.section-submit
					.grid-box.grid-box-6
						//- .g-recaptcha(data-sitekey="6LeMOy4UAAAAAEvfDM80vM1CPaN6R83KQPOUaOEr")
						#recaptcha
					.grid-box.grid-box-6
						.submit-group
							button(id="submit",class="btn btn-submit btn-submit-udep") ENVIAR
				.section-term
					ul
						li
							p #[span (1) Reclamo:] Disconformidad relacionada a los productos o servicios.
						li
							p #[span (2) Queja:] Disconformidad no relacionada a los productos o servicios; o malestar o descontento respecto a la atención al público.
						li
							p *La formulación del reclamo no impide acudir a otras vías de solución de controversias ni es requisito previo para interponer una denuncia ante el INDECOPI.
						li
							p *El Proveedor deberá dar respuesta al reclamo en un plazo no mayor a treinta (30) días calendario, pudiendo ampliar el plazo hasta por treinta (30) días más, previa comunicación al consumidor.