- var documents = [{id:"",name:""},{id:0,name:"DNI"},{id:1,name:"CE"}]
section.section.section-1
	.section-title
		.section-title-box
			h2 1. Identificaciones del consumidor reclamante
	.form-section
		.grid
			.grid-row
				.grid-box.grid-box-6
					input(type="hidden",id="institution",name="institution",value="0")
					.input-group.print-err
						select(name="typedoc_child", id="typedoc_child", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label(for="typedoc_child") Tipo de documento
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="numberdoc_child", id="numberdoc_child", class="form-control", maxlength="8", placeholder=" ")
						span.bar
						label(for="numberdoc_child") Número de documento
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="lastnamefa_child", id="lastnamefa_child", class="form-control", placeholder=" ")
						span.bar
						label Apellido paterno
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="lastnamema_child", id="lastnamema_child", class="form-control", placeholder=" ")
						span.bar
						label Apellido materno
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="name_child", id="name_child", class="form-control", placeholder=" ")
						span.bar
						label Nombres
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="phone_child", id="phone_child", class="form-control", placeholder=" ", maxlength="9")
						span.bar
						label Teléfono
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="department_child", id="department_child", class="form-control", placeholder=" ")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Departamento
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="province_child", id="province_child", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Provincia
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="district_child", id="district_child", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Distrito
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="address_child", id="address_child", class="form-control", placeholder=" ")
						span.bar
						label Domicilio
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="email_child", id="email_child", class="form-control", placeholder=" ")
						span.bar
						label E-mail
				.grid-box.grid-box-6
					.check-group
						.check-box
							h4 Eres menor de edad:
						.check-box.print-err
							input(type="radio", name="younger", id="younger-si", class="check-input check-younger form-control", value="1")
							label(for="younger-si", class="check-label") Si
						.check-box.print-err
							input(type="radio", name="younger", id="younger-no", class="check-input check-younger form-control", value="0", checked)
							label(for="younger-no", class="check-label") No
	.section-info
		p * Declaro conocer y aceptar que a esta dirección me llegará el formulario de Hoja de Reclamación una vez completado
	.form-section.form-section-tutor(style="display:none")
		.section-tutor-title
			h4 Representante del consumidor para el caso de menores de edad
		.grid
			.grid-row
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="typedoc_tutor", id="typedoc_tutor", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Tipo de documento
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="numberdoc_tutor", id="numberdoc_tutor", class="form-control", placeholder=" ", maxlength="8")
						span.bar
						label Número de documento
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="lastnamefa_tutor", id="lastnamefa_tutor", class="form-control", placeholder=" ")
						span.bar
						label Apellido paterno
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="lastnamema_tutor", id="lastnamema_tutor", class="form-control", placeholder=" ")
						span.bar
						label Apellido materno
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="name_tutor", id="name_tutor", class="form-control", placeholder=" ")
						span.bar
						label Nombres
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="phone_tutor", id="phone_tutor", class="form-control", placeholder=" ", maxlength="9")
						span.bar
						label Teléfono
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="department_tutor", id="department_tutor", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Departamento
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="province_tutor", id="province_tutor", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Provincia
				.grid-box.grid-box-6
					.input-group.print-err
						select(name="district_tutor", id="district_tutor", class="form-control")
							each document in documents
								option(value=document.id) #{document.name}
						span.bar
						label Distrito
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="address_tutor", id="address_tutor", class="form-control", placeholder=" ")
						span.bar
						label Domicilio
				.grid-box.grid-box-6
					.input-group.print-err
						input(type="text", name="email_tutor", id="email_tutor", class="form-control", placeholder=" ")
						span.bar
						label E-mail